server:
  http:
    addr: 0.0.0.0:8000
    timeout: 10s
  grpc:
    addr: 0.0.0.0:9009
    timeout: 10s
  p2p:
    port: 4002
    swarm_key: |
      /key/swarm/psk/1.0.0/
      /base16/
      **********
    bootstraps:
      - ""
data:
  database:
    driver: mysql
    source: root:123456@tcp(127.0.0.1:3306)/computeshare?charset=utf8&parseTime=true
  redis:
    addr: 127.0.0.1:6379
    dial_timeout: 1s
    read_timeout: 0.4s
    write_timeout: 0.6s
  ipfs:
    url: 127.0.0.1:5001

auth:
  service_key: some-secret-key
  api_key:

dispose:
  s3:
    target_docker_host: unix:///var/run/docker.sock
    target_docker_container_name:
    endpoint: http://127.0.0.1:8333
    region: shanghai
    s3_url_prefix: s3://
    url_prefix: http://127.0.0.1:8333/
  dh3t:
    account:
    password:
    sendUrl:
    verificationCodeTemplateId:
  domain:
    vnc_host: https://vnc.computeshare.newtouch.com
    api_host: api.computeshare.newtouch.com
